@charset "UTF-8";
#title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}

.login {
    margin-top: auto;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgba(228, 241, 241);
}
.content {
    border-top: 2px solid rgba(228, 241, 241);
    margin: auto;
    display: flex;
    flex-direction: column;
}
button {
    margin:10px auto;
    background-color: rgba(228, 241, 241);
    color: rgba(32, 141, 141, 0.867);
    font-size: medium;
}