@charset "UTF-8";
/* #title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left: 25px;
} */
#log-out {
    text-align: right;
    margin-right: 40px;
}
#select-number {
    margin: 10px auto;
    border: 1px solid #000;
    font-size: medium;
}

.app {
    background-color: rgb(239, 244, 248);
    margin: auto;
}
/* .header {
    background-color: rgba(75, 102, 102, 0.867);
    color: rgba(228, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.contents {
    padding:10px 10px 15px 15px;
}
.button {
    margin:10px auto;
    background-color: rgba(32, 141, 141, 0.867);
    color: rgba(228, 241, 241);
}

/* movies */
/* .movie {
    background-color: #fff;
    margin: 20px;
    padding: 10px;
}
.movieTitle {
    font-weight: bold;
    margin: unset;
    font-size: 1.5rem;
}
.releaseDate {
    font-size: 0.8rem;
    color: rgba(75, 102, 102, 0.867);
    margin: unset;
} */

/* API test */
.test {
    border-top: 2px solid rgba(75, 102, 102, 0.867);
    margin-top: 30px;
    margin-bottom: 30px;
}